<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ETL 2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>APIV1-2</h1>
      <p>Information</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p> -->
    </div>
    <h2>Searched information</h2>
    <div class="well">
      <h5>Select Ticker</h5>
      <select id="selTicker" onchange="optionChanged(this.value)"></select>
    </div>
 {{ stock_test }}

  <table>
    <thead>
      <td></td>
    </thead>
  </table>
  </div>
  </div>
</body>

</html>
